/* importo bootstrap dalla cartella node_modules usando l'alias settato in vite.config.js */
@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: #290099;
    color: white;
}

header,
footer {
    width: 100%;
    background: rgb(57, 57, 253);
    color: white;
}

header img.logo {
    height: 2rem;
}